// nextflow.config

// Enable DSL2 features
nextflow.enable.dsl=2

// Default parameters
params.output_dir_local = './pipeline_results' // Local directory for pipeline outputs
params.region = 'chr17:45585159-46292045'      // Default region for 17q21.31 locus

// Input parameters that must be provided on the command line or via env
params.input_vcf_gcs = null
params.input_tbi_gcs = null

// Executor and Docker configuration
process.executor = 'local' // Run processes locally within the main dsub container

docker.enabled = true
docker.runOptions = '--rm' // Clean up task containers

// Define where modules are located
modulesDir = 'modules'

manifest {
    name = 'aou-nf-qc-pipeline'
    description = 'Simple Nextflow pipeline for VCF region extraction and stats on AoU'
    author = ''
    mainScript = 'main.nf'
}
